.previewButton {
  width: auto;
  height: 3.625rem;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--heading);

  a {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.125rem;

    color: var(--background);
  }
}
