.banner {
  display: block;
  position: relative;
  margin: 0 auto;
  background: var(--banner-background);
  max-width: 1440px;
  width: 100%;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    max-height: 400px;
    min-height: auto;
    background-size:100%;
    background-repeat: no-repeat;
  }
}

.container {
  height: 5rem;
  max-width: 1120px;
  margin: 0 auto;
  display: block;

  h1 {
    width: 1440px;
    margin: 2rem 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.5rem;

    letter-spacing: -0.5px;

    color: var(--heading);
  }

  .about {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--info);
    }

    &+span {
      margin-left: 1.5rem;
    }

    p {
      line-height: 2rem;
      font-size: 0.875rem;
      margin-left: 0.5rem;
    }
  }

  .lastEdited {
    line-height: 2rem;
    font-size: 0.875rem;
    margin-left: 0.5rem;

    font-style: italic;
    color: var(--info);
  }

  .postContent {
    max-width: 1120px;
    margin: 2rem auto;
    padding-bottom: 4rem;

    border-bottom: 1px solid var(--body);

    h2 {
      font-weight: 600;
      font-size: 2rem;
      font-family: 'Inter', sans-serif;
      color: var(--body);

      margin: 1rem auto;
    }

    div {
      display: block;
      font-weight: 400;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
      line-height: 1.5rem;
      color: var(--body);

      margin: 1rem auto;

      p, ul {
        margin: 1rem 0;
      }

      ul {
        padding-left: 1.5rem;

        li {
          margin: 0.5rem 0;
        }
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      padding: 3rem auto;

      h5 {
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--heading);

        margin-bottom: 1rem;
      }

      a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--highlight);

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.7);
        }
      }
    }

    div + div {
      text-align: right;
    }
  }
}
